@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 43px 70px;
}
.auth {
  display: flex;
  justify-content: space-between;
  width: 27%;
}
select {
  border: none;
}
.sign-in {
  height: 44px;
  width: 110px;
  border: none;
  background-color: #3a5aff;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.sign-in:hover {
  border-bottom: 5px solid black;
}
.log-in {
  height: 44px;
  width: 110px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  border: 1px solid #979797;
  color: #979797;
  background-color: white;
}
.log-in:hover {
  background-color: #979797;
  color: white;
}
.body {
  display: flex;
  justify-content: space-between;
  padding: 20px 140px 70px 140px;
}
section {
  width: 45%;
}
.sign-up {
  height: 56px;
  width: 255px;
  border: none;
  background-color: #3a5aff;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
h1 {
  font-size: 74px;
  font-weight: 800;
  margin-bottom: 35px;
  margin-top: 0px;
}
p {
  font-size: 24px;
  width: 99%;
  margin-bottom: 48px;
}
.body-img {
  margin-top: 30px;
  width: 38%;
  object-fit: contain;
}
h3 {
  margin-top: 48px;
}
.apps img:first-child {
  margin-right: 15px;
}
.apps img {
  cursor: pointer;
}
